#gradle artifacts
.gradle/
/build/

#temp artifacts
avro_tools/
avro-fastserde/src/test/java/com/linkedin/avro/fastserde/generated/
avro-fastserde/src/codegen/java/com/linkedin/avro/fastserde/generated/
*.class

#IDEA artifacts
out/
.idea/
*.iml

#macos stuff
**/.DS_Store
**/build/docs
**/build/resources
**/build/libs
**/build/tmp
**/build/jacoco
**/build/reports
**/build/test-results
**/build/avro-tools-1.4.0.jar
avro-builder/tests/codegen-*/build
helper/tests/codegen-*/build/generated/
