#gradle artifacts
.gradle/
build/

#temp artifacts
avro_tools/
avro-fastserde/src/test/java/com/linkedin/avro/fastserde/generated/
*.class
avro-fastserde/src/codegen

#IDEA artifacts
out/
.idea/
*.iml
