{
  ${symbols};
  public static final org.apache.avro.Schema SCHEMA$ = org.apache.avro.Schema.parse("{\"type\":\"enum\",\"name\":\"${name}\",\"symbols\":[${symbol_string}],\"doc\":\"${doc}\"}");
  public static org.apache.avro.Schema getClassSchema() {
    return SCHEMA$;
  }
}